<footer class="footer">
  <div class="footer-left">
    <ul>
      <li>home</li>
      <li>about</li>
      <li>help</li>
      <li>jobs</li>
      <li>privacy</li>
      <li>terms</li>
    </ul>
  </div>
  <div class="footer-right">Made by Ankeeta Sahoo</div>
</footer>
