<header class="header">
  <div class="header-content">
    <div class="header-logo">
      <a href="/">
        <svg class="header-logo-icon">
          <use xlink:href="/image/sprite.svg#icon-instagram"></use>
        </svg>
      </a>
      <span>Instagram</span>
    </div>
    <%if(locals.user){%>
    <form class="header-search">
      <input type="text" placeholder="search here . . " />
      <button>
        <svg class="header-search-icon">
          <use xlink:href="/image/sprite.svg#icon-search"></use>
        </svg>
      </button>
    </form>
    <div class="header-actions">
      <ul class="header-actions-list">
        <li><a class="header-post">post</a></li>
        <li>
          <a href="/users/profile/<%=user.id%>"><%=user.username%></a>
        </li>
        <li><a href="/users/sign-out">logout</a></li>
      </ul>
    </div>
    <%}else{%>
    <div class="header-actions">
      <ul class="header-actions-list">
        <li><a href="/users/sign-in">sign in</a></li>
        <li><a href="/users/sign-up">sign up</a></li>
      </ul>
    </div>
    <%}%>
  </div>
</header>
