<header class="header">
  <div class="header-content">
    <div class="header-logo">
      <a href="/">
        <svg class="header-logo-icon">
          <use xlink:href="/image/sprite.svg#icon-instagram"></use>
        </svg>
      </a>
      <span>Instagram</span>
    </div>
    <%if(locals.user){%>
    <form class="header-search">
      <input
        type="text"
        id="search-input"
        onkeyup="myFunction()"
        placeholder="search here . . "
      />
      <button>
        <svg class="header-search-icon">
          <use xlink:href="/image/sprite.svg#icon-search"></use>
        </svg>
      </button>
    </form>
    <%- include('search')%>

    <ul class="header-actions">
      <li><a class="header-post">post</a></li>
      <li class="header-menu">
        <input id="menu-view" type="checkbox" />
        <label for="menu-view" class="header-menu-view">
          <svg class="header-icon header-icon-close">
            <use
              xlink:href="/image/sprite.svg#icon-chevron-with-circle-up"
            ></use>
          </svg>
          <svg class="header-icon header-icon-open">
            <use
              xlink:href="/image/sprite.svg#icon-chevron-with-circle-down"
            ></use>
          </svg>
        </label>

        <ul class="header-menu-list">
          <li>
            <a href="/users/profile/<%=user.id%>">profile</a>
          </li>
          <li><a href="/users/destroy">deactivate</a></li>
          <li><a href="/users/sign-out">logout</a></li>
        </ul>
      </li>
    </ul>

    <%}else{%>

    <ul class="header-actions">
      <li><a href="/users/sign-in">sign in</a></li>
      <li><a href="/users/sign-up">sign up</a></li>
    </ul>

    <%}%>
  </div>
</header>
