<div class="new-post hide">
  <form
    action="/posts/create"
    enctype="multipart/form-data"
    id="new-post-form"
    class="new-post-container"
    method="POST"
  >
    <button class="new-form-close">
      <svg class="form-close-icon">
        <use xlink:href="/image/sprite.svg#icon-circle-with-cross"></use>
      </svg>
    </button>
    <input type="file" class="new-post-file" name="image" required />
    <textarea
      name="caption"
      placeholder="Write a caption"
      class="new-post-caption mytextarea"
      required
    ></textarea>
    <button class="new-post-submit" type="submit">Share</button>
  </form>
</div>
