<div class="new-post hide">
  <div class="new-post-container">
    <input type="file" name="new-post-pic" />
    <textarea
      name="new-post-caption"
      placeholder="Write a caption"
      class="new-post-caption"
    ></textarea>
    <input class="new-post-submit" type="submit" value="Share" />
  </div>
</div>
