<div class="new-post hide">
  <form
    action="/posts/create"
    enctype="multipart/form-data"
    id="new-post-form"
    class="new-post-container"
    method="POST"
  >
    <input type="file" name="image" required />
    <textarea
      name="caption"
      placeholder="Write a caption"
      class="new-post-caption mytextarea"
      required
    ></textarea>
    <input class="new-post-submit" type="submit" value="Share" />
  </form>
</div>
