<link rel="stylesheet" href="/css/password-reset.css" />
<div class="content">
  <div class="container">
    <div class="overlay" id="overlay">
      <div class="sign-in" id="sign-in">
        <div class="overlay-icon">
          <svg>
            <use xlink:href="/image/sprite.svg#icon-instagram"></use>
          </svg>
        </div>
        <div class="overlay-heading">Welcome !</div>
        <div class="overlay-description">
          Your password reset form.Please fill in the details :)
        </div>
      </div>
    </div>
    <div class="form">
      <div class="sign-in-info" id="sign-in-info">
        <h1 class="form-heading">Password Reset</h1>

        <form
          class="sign-in-form"
          id="sign-in-form"
          action="/users/resetPassword"
          method="POST"
        >
          <input
            type="password"
            name="new_password"
            class="input"
            placeholder="Password"
            required
          />
          <input
            type="password"
            name="new_confirm_password"
            class="input"
            placeholder="Confirm Password"
            required
          />
          <input type="hidden" name="resetLink" value="<%=token%>" />
          <button class="control-button" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
