<link rel="stylesheet" href="/css/sign-in.css" />
<div class="content">
  <div class="container">
    <div class="overlay" id="overlay">
      <div class="sign-in" id="sign-in">
        <div class="overlay-icon">
          <svg>
            <use xlink:href="/image/sprite.svg#icon-instagram"></use>
          </svg>
        </div>
        <div class="overlay-heading">Welcome Back!</div>
        <div class="overlay-description">
          To keep connected with us please login with your personal info
        </div>
        <div class="overlay-signup">
          <span>or</span><a href="/users/sign-up">sign up</a>
        </div>
      </div>
    </div>
    <div class="signIn-form form">
      <div class="sign-in-info" id="sign-in-info">
        <h1 class="form-heading">Sign In</h1>
        <div class="social-media-buttons">
          <a href="/users/auth/google" class="icon">
            <svg>
              <use xlink:href="/image/sprite.svg#icon-google"></use>
            </svg>
          </a>
          <a href="/users/auth/github" class="icon">
            <svg>
              <use xlink:href="/image/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </div>

        <form
          action="/users/create-session"
          class="sign-in-form"
          id="sign-in-form"
          method="POST"
        >
          <input type="email" class="input" placeholder="Email" name="email" />
          <input
            type="password"
            class="input"
            placeholder="Password"
            name="password"
          />
          <p class="forgot-password small">Forgot your password?</p>
          <button class="control-button" type="submit">Sign In</button>
        </form>
      </div>
    </div>
    <div class="resetForm form hide">
      <div class="reset-info" id="reset-info">
        <h1 class="form-heading">Reset</h1>

        <p class="small">Enter to recieve reset details</p>
        <form
          class="form reset-form"
          id="reset-form"
          action="/users/forgotPassword"
          method="POST"
        >
          <input type="email" class="input" name="email" placeholder="Email" />

          <button class="control-button" type="submit">submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="text/javascript">
  document
    .querySelector(".forgot-password")
    .addEventListener("click", function () {
      document.querySelector(".resetForm").classList.toggle("hide");
      document.querySelector(".signIn-form").classList.toggle("hide");
      document.querySelector(".overlay-signup a").innerHTML = "sign in";
      document.querySelector(".overlay-signup a").href = "back";
    });
</script>
