@mixin respond($breakpoint) {
  @if $breakpoint == phone-mini {
    @media only screen and (max-width: 31.25em) {
      @content;
    } //500px
  }
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } //600px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 62.5em) {
      @content;
    } //1000px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    } //1200px
  }
}

html {
  font-size: 62.5%;
}
.header {
  background-color: #fff;
  border-bottom: 1px solid #dbdbdb;
  display: grid;
  grid-template-columns: 1fr [start-head]95vw [end-head] 1fr;

  position: fixed;
  width: 100%;
  z-index: 5;
  padding: 1rem 0;
  &-content {
    grid-column: start-head/end-head;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include respond(phone) {
      flex-wrap: wrap;
    }
  }
  &-logo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    svg {
      height: 5rem;
      width: 5rem;
    }
    span {
      text-decoration: none;
      font-family: "Courier New", Courier, monospace;
      font-size: 3rem;
    }
  }
  &-search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    & > * {
      border-radius: 100px;
      background-color: rgb(245, 241, 241);
    }
    input {
      // background-color: rgb(245, 241, 241);
      border: none;
      font-size: 1.6rem;
      padding: 1rem 1.5rem;
      width: 100%;
      margin-right: -3.5rem;
      &:active,
      &:focus {
        outline: none;
        border: none;
      }
    }
    button {
      outline: none;
      border: none;
    }
    &-icon {
      height: 2rem;
      width: 2rem;
      fill: grey;
    }
    @include respond(phone) {
      order: 1;
      flex: 0 0 80%;
      margin: 1rem auto;
    }
  }
  &-actions {
    width: 20%;
    &-list {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      height: 100%;
      li {
        a {
          text-decoration: none;
          color: blue;
          font-size: 1.6rem;
          text-transform: capitalize;
        }
      }
    }
    @include respond(phone) {
      width: 40%;
    }
  }
}
.new-post {
  padding-top: 15rem;
  background-color: #f3eded;
  &-container {
    display: grid;
    width: 50%;
    margin: 0 auto;
    grid-template-rows: repeat(2, min-content);
    @include respond(phone) {
      width: 70%;
    }
  }
  &-caption {
    margin: 1.5rem 0;
    padding: 1rem 1.5rem;
    background-color: #fff;
    outline: none;
    border: none;
  }
  &-submit {
    width: 10rem;
    cursor: pointer;
    background-color: blue;
    color: #fff;
    text-transform: uppercase;
    padding: 1rem 2rem;

    outline: none;
    border: none;
  }
}
.hide {
  display: none;
}
